certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
comtypes==1.1.11
cryptography==36.0.1
decorator==5.1.1
fake-useragent==0.1.11
Flask==2.0.3
idna==3.3
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
pycparser==2.21
pypiwin32==223
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyttsx3==2.90
pywin32==303
requests==2.27.1
six==1.16.0
termcolor==1.1.0
urllib3==1.26.8
validators==0.18.2
Werkzeug==2.0.3
